body{
	background: #f9f9f9;
}
*{
	padding: 0;
	margin: 0;
}
.wrapper{
	margin: 0 auto;
	width: 1060px;
	background: #fff;
	box-shadow: 0px 5px 10px 3px #9b9fa3;
}
.container{
	margin: 0 auto;
	width: 970px;
	padding-top: 10px;

}

/*=============================================================
	/	/	/	/	/	HEADER /	/	/	/	/	/	/	/
=============================================================*/
.header h1{
	text-transform:  capitalize;
}
.header ul{
	display: inline-block;
	list-style-type: none;
	background: url(../images/header-ul.png) repeat-x;
}
.header ul:last-child{
 	width: 100%;
}
.header li{
	display: inline-block;
	position: relative;
}
.header a{
	text-decoration: none;
	color: #fff;
	text-transform:  capitalize;
	line-height: 40px;
}
.header a{
	padding: 10px 40px 10px 25px;
}
.header a:hover{
	background: url(../images/header-ul-hover.png);
}
.header li:hover:after{
	content: '';
	position: absolute;
	background: #838383;
	width: 1px;
	height: 39px;
	left: 0;
	top: 0;
}
.header li:hover:before{
	content: '';
	position: absolute;
	background: #838383;
	width: 1px;
	height: 39px;
	right: 0;
	top: 0;
}

/*=============================================================
	/	/	/	/	/	MAIN /	/	/	/	/	/	/	/
=============================================================*/
.left{
	float: left;
	width: 290px;
}
.left ul{
	width: 240px;
	list-style-type: none;
	margin: 40px 0 0 0;
}
.left li{
	border-top: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
}
.left li:last-child{
	border-bottom: 1px solid #c8c8c8;
}
.left a{
	text-decoration: none;
	margin-left: 25px;
	line-height: 40px;
	color: #7f7d7d;	
	width: 100%;
	position: relative;
}
.left li:hover{
	background: #f9f9f9;
}
.left a:hover{
	left: 10px;
}
.right{
	float: left;
	width: 660px;
}
.right ul{
	list-style-type: none;
	color: #7f7d7d;
	line-height: 1.5;
}
.right img{
	margin: 40px 0;
	width: 680px;
	height:400px;
}
.right img:hover{
	width: 125%;
	 -webkit-transform: rotate(5deg);
	 -webkit-transition: all 0.7s ease;
}
.main:after{
	content: '';
	clear:both;
	display: block;
}
/*=============================================================
	/	/	/	/	/	FOOTER /	/	/	/	/	/	/	/
=============================================================*/
.footer{
	width: 960px;
	padding: 60px 0;
}
.footer ul{
	display: inline-block;
	background: #e1e1e1;
	width: 960px;
	text-align: left;
}
.footer li{
	display: inline-block;
	text-transform: capitalize;
	padding: 15px 25px 10px;
}
.footer ul li:last-child{
	float: right;
}
.footer a{
	text-decoration: none;
	color: #2c2c2c;
}
.footer a:hover{
	text-decoration: underline;
}
.footer:after{
	content: '';
	clear:both;
	display: block;
}